[manifest]
version = "1.0.0"
dump_lua = true
priority = 1

# Was not sure where else to put this...
[[patches]]
[patches.pattern]
target = "functions/button_callbacks.lua"
pattern = "if G.blind_select then"
position = "before"
payload = '''
G.GAME.current_round.usesavedtext = false
G.GAME.current_round.savedtext = ""
'''
match_indent = true

[[patches]]
[patches.regex]
target = "functions/common_events.lua"
pattern = '''localize\('ph_mr_bones'\)'''
position = 'before'
# match_indent = true
line_prepend = ''
payload = '''(G.GAME.current_round.usesavedtext and G.GAME.current_round.savedtext or '''

[[patches]]
[patches.regex]
target = "functions/common_events.lua"
pattern = '''localize\('ph_mr_bones'\)'''
position = 'after'
# match_indent = true
line_prepend = ''
payload = ''')'''

[[patches]]
[patches.pattern]
target = "game.lua"
pattern = "play_sound('whoosh1', 0.4, 0.8)"
position = "before"
payload = "play_sound(not togabalatro.has_tried_startup and togabalatro.config.StartUpSound and 'toga_w96', 1, 0.3);togabalatro.has_tried_startup = true"
match_indent = true